/* UI Styles */
h1{
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	position:absolute;
	font-size:1.3em;
	top: 0;
	left:1000px;
	line-height:1.5em;
}

h2{
	font-family: 'Press Start 2P', cursive;
	display: inline-block;
	position:relative;
	font-size:1.3em;
	right:0;
	text-align:center;
}

div#inventory{
	top:300px;
	left: 1000px;
	padding:0;
	display:inline-block;
	position:absolute;
}


div#inventory table
{
	font-family:'Press Start 2P', cursive;
	border: 1px solid black;
}

div#inventory tr
{
	border: 1px solid black;
}

div#inventory td
{
	border: 1px solid black;
}

div#inventory th
{
    border: 1px solid black;
}

div#inventory th.name
{
    width: 100px;
} 

div#inventory td.name
{
	width: 100px;
}

div#healthBox
{
    top:200px;
	left:1000px;
	padding:0;
	display:inline-block;
	position:absolute;
    border: 1px solid black;
}

div#healthBox span
{
    border: 1px solid black;
    color:green;
}

div#healthBox h2
{
    margin-bottom:.1em;
    margin-top:.15em;
    margin-right:5px;
    margin-left:5px;
}

div#gridContainer{
	top:5px;
	left:5px;
	padding:0;
	display:inline-block;
	position:absolute;
	z-index: 0; /* underneath everything */
}


/* Background Tile Styles */
span.floor{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
}

span.wall{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -32px -32px;
}

span.grass{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -64px -64px;
}

span.water{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -96px -96px;
}

span.ground{
	width:32px;
	height:32px;
	background: url(../images/terrain.png);
	background-position: -128px -128px;
}

span.cell{
	height:32px;
	width:32px;
	border: 1px solid #333; /* actual width & height is 32px because of border */
	background-color: #ccc;
	padding:0;
	margin:0;
	position:absolute;
}

span.cellSelected{
	height:32px;
	width:32px;
	border:0;
	background-color: red;
	padding:0;
	margin:0;
	position:absolute;
}


/* Game Object Styles */
span.gameObject{
	height:32px;
	width:32px;
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 100; /* layered between background tiles and player */
	background-color:black;
	background: url(../images/nethack-32x32.png);
}

span.chest1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -830px -448px;
}

span.chest2{
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -1088px -288px;
}

span.key1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -1024px -448px;
}

span.npc{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -256px -128px;
}

span.monster1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -96px -32px;
}

span.monster2{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -192px -128px;
}

span.monster3{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -192px -224px;
}

span.monster4{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -96px -32px;
}

span.monster5{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -352px -32px;
}

span.boss{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -1024px -96px;
}

span.door{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500; /* layered between other game objects and player */
	background-position: -544px -832px;
}

/* player style */
span.player{ 
	background: url(../images/nethack-32x32.png);
	background-position: -128px -32px;
	z-index: 1000; /* On top of everything */
	transition-property: all;
	transition-duration: .25s;
}

span.guard{
    position:absolute;
    background-position: -512px -256px;
    left:-100px;
    right:-100px;
}

span.guard2{
    position:absolute;
    background-position: -416px -256px;
    left:-100px;
    right:-100px;
}

span.ring1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -320px -448px;
}

span.treasure1{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -448px -448px;
}

span.treasure2{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -928px -448px;
}

span.treasure3{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -0px -640px;
}

span.treasure4{ 
	position:absolute;
	left: -100px;
	top: -100px;
	z-index: 500;
	background-position: -736px -448px;
}

span.iron_dagger{
    position:absolute;
    left: -100px;
	top: -100px;
	background-position: -352px -320px;
}

span.pixie{ 
	position:absolute;
	left: -100px;
	top: -100px;
	background-position: -1088px -256px;
}

span.iron_sword{
    position:absolute;
    left: -100px;
	top: -100px;
	background-position: -576px -320px;
}
span.iron_lance{
    position:absolute;
    left: -100px;
	top: -100px;
	background-position: -128px -320px;
}
span.iron_axe{
    position:absolute;
    left: -100px;
	top: -100px;
	background-position: -672px -320px;
}

p{
	display:inline-block;
	position:absolute;
	top:90px;
	left:1000px;
}

a{
	font-family: 'Press Start 2P', cursive;
	font-size:.7em;
	color: black;
}

a:hover{
	text-decoration:underline;
}

a:active{
	text-decoration:underline;
	font-weight:bold;
}

a:visited{
	color:#262626;
}